* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    padding: 10px;
    marging: 10px;
}

.section-one {
    background-color: black;
    color: white;
    padding: 20px;
    margin-left: 15px;
}

.section-one__name {
    font-size: 60px;
}

.section-one__role {
    font-size: 30px;
}

.section-one__contact {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    margin-left: 4px;
    margin-top: 5px;

}

.section-two,
.section-three,
.section-four,
.section-five {
    margin-bottom: 20px;
    margin-top: 15px;

}

.section-two {

    padding-left: 20px;
}

.section-three {
    margin-left: 15px;
}

.section-three li {
    list-style: none;

}

.section-five {

    background-color: black;
    color: white;
    margin-left: 15px;
    padding: 20px;

}

.section-five__title a {
    padding: 20px;
    color: skyblue;
}

.section-three {
    background-color: #6462fd;
    color: black;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    height: 170px;
    vertical-align: top;
}

.section-four {
    background-color: #fe7517;
    color: black;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;

}

.contact-form {
    margin-top: 20px;
    padding-left: 20px;
}

.contact-form__input,
.contact-form__textarea,
.contact-form__submit {
    margin-top: 20px;


}

.contact-form__input {
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
    padding-left: 20px;

}

.contact-form__textarea {
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}

.contact-form__submit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orangered;
    color: black;
    padding-left: 20px;
}